<ng-container>
    <ul>
        <li>
            <button (click)="get500Error()" class="btn btn-outline-light listBtn">Test 500 Error</button>
        </li>
        <li class='list-item'>
            <button (click)="get400Error()" class="btn btn-outline-light listBtn">Test 400 Error</button>
        </li>
        <li class='list-item'>
            <button (click)="get401Error()" class="btn btn-outline-light listBtn">Test 401 Error</button>
        </li>
        <li class='list-item'>
            <button (click)="get404Error()" class="btn btn-outline-light listBtn">Test 404 Error</button>
        </li>
        <li class='list-item'>
            <button (click)="get400ValidationError()" class="btn btn-outline-light listBtn">Test 400 Validation Error</button>
        </li>
        
        <li>
            <div class="row" *ngIf="validationErrors.length > 0" style="margin-top: 10px;">
                <ul class="text-white" style="font-size: small !important;">
                    <li id="hideMeAfter5Seconds" *ngFor="let error of validationErrors">
                        {{error}}
                        <p>(This message won't be shown again)</p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    

</ng-container>
